<footer class="footer py-3 mt-auto text-center" style="background-color: #403E3E;">
    <div class="container">
      <span class="text-light">&copy; National Parks by Eugene <%= new Date().getFullYear() %></span>
    </div>
  </footer>
  